<% provide(:title, "購入完了画面") %>

<h1>ご購入いただきありがとうございます。</h1>

<h5>※注　5月31日以内に下記の口座にお振込をお願いします。</h5>


<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered table-hover table-responsive">
      <thead>
        <tr>
          <th class="center">金融機関名</th>
          <th class="center">支店名</th>
          <th class="center">口座番号</th>
          <th class="center">口座名義</th>
        </tr>
      </thead>
      
      <tbody>
          <td class="center">楽天銀行</td>
          <td class="center">マンボ支店228</td>
          <td class="center">普通 1941855</td>
          <td class="center">ミヤザキ コウタ</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>